.div_head{
width:100%;
height:65px;
background-color:#3498db;
}

body{
margin:0px;
padding:0px
}
.div_head_1{
    margin-left: 43px;
    margin-right: 43px;
    padding-top: 17px;
	color: #fff;
}
.div_head_1_2{
height:25px;


}
.span_head_1{
    font-size: 21px;
    font-family: tahoma;
	font-weight:bold;
	margin-right:45px
}
.span_head_2{
    font-size: 21px;
    font-family: tahoma;	
	margin-right:246px;
	color: #fff;
}
.span_head_3{
    font-size: 21px;
    font-family: tahoma;
}
.span_head_3 img{
       height: 21px;
}
.span_head_4{
    font-size: 21px;
    font-family: tahoma;
	float:right;
	
}



.span_head_4_1{
    background-color: #3498db !important;
    border-color: #3498db !important;
	 padding: 0px 0px !important; 
	 color: #fff;
}

.div_popup_top{
	    border-bottom: 1px solid #cff;
    height: 80px;
color:#9c9c9c	
}
.div_popup{
	
}

.dropdown-menu {  
   left: -156px !important;
    min-width: 304px !important;
    padding: 15px !important;
    margin: 0 0 !important;
    margin-top: 16px !important;
    height: 135px !important;
    border-radius: 0px !important;
    box-shadow: 0 2px 9px rgba(8, 8, 8, 0.175) !important;
}
.div_popup_1{
	width: 80px;
    height: 60px;
    float: left;
	
}
.ul_popup_1{
	list-style: none;
    line-height: 21px;
    font-size: 17px;
}
.div_popup_1 img{
	margin-top: 12px;
    margin-left: 10px;
}
.div_popup_3{
	    padding: 7px;
    /* padding-left: 30px; */
    font-size: 16px;
	color:#000
}
.span_head_3_1{
	color:#000
}

.div_popup_3 a{
	color:#3598db
}
.span_head_4_1_2{
	color:#fff !important;
	font-size: 17px !important;
}
.span_head_4_1_2:hover{
	color:#fff !important;
	font-size: 17px !important;
}
.div_put img{
	    margin-top: -301px;
    margin-left: 200px;
}
#img_icon_drop{
	width: 20px;
}