.containerover{
	    width: 1324px !important;
	    margin-top: 30px;
	    margin-bottom: 30px;

}

.contenttable{
	background: #fff;
    padding-bottom: 8px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.col6-80{
	width: 	18%;
	text-align: right;
}
.tableback{
	background: #fff !important;
}
.title_09{
	padding-bottom: 20px;
	vertical-align: middle;
}
.title_header_table_80_1{
	width: 96%;
	padding-bottom: 16px !important;
	padding-top: 26px !important;
}
.container9{
	width: 96% !important;
	margin: 0 auto;
	
}
#insert_button a {
    font-size: 12px !important;
    text-decoration: none;
    padding-right: 10px;
}
.span_foot_9{
	padding-right: 100px !important;
	}
.span_head_4_1_2{
  font-size: 12px;
}
.tableback >thead tr th{
	font-size: 12px;
}
.tableback >tbody tr >td.table_09{
	vertical-align: middle;
}
.span_foot_fix {
    margin-top: -24px !important;
}
#form_9{
	background: #f2f2f2;
}
.headertitlecnter{
	background: #3498db;
    color: #fff;
    height: 40px;
    vertical-align: middle !important;
    text-align: center;
    padding-top: 10px;
}
.texcenterbule{
   background: #3498db;
   color: #fff;
}
.col357,.texcenterbule >th{
  text-align: center;
}
.widthtextcenter{
	text-align: left;
    vertical-align: middle;
    width: 136px;
    background: #edf5fa; 	
}
.col1-80{
	    width: 200px;
    border-right: 1px solid #ccc;
}
.backcolor{
	background: #edf5fa;

}
.backgroudmegre80{
	background: none !important;
}
.width126px{
	width: 126px;
}
.col4-80{
	width: 188px;
	text-align: right;
}
.col5-80{
	width: 150px;
}
.widthtextcenter2{
	text-align: left;
    vertical-align: middle;
    width: 146px;
}	
.title_bottom_80{
	width: 96%;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}
.tablefix80{
	margin-bottom: 20px;
	width: 100%;
}
..table-bordered>tbody>tr>.widthtextcenter{
     border: none !important; 
 }
.table-bordered>tbody>tr>.backgroudmegre80{
     border: none !important; 
 }
 .table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>th{
 	border: none !important;
 }
 .table80{
 	width: 100%;
    max-width: 100%;
    margin-bottom: 14px !important;
    border: 1px solid #ddd;
 }
 .col-border-80{
 	border: 1px solid #ddd;
 }
 .borderright80_1{
 	 width: 12px;
   height: 36px;
   background-color: #edf5fa;
   float: left;
   margin-left: -10px;
   margin-top: -8px;
   margin-bottom: -9px;
 }
 .table80_1_2{
 	 .    width: 100%;
    max-width: 100%;
    margin-bottom: 14px !important;
 }
 .coll1_80_end{
 	  width: 200px;
    max-width: 100%;
    margin-bottom: 14px !important;
 }
 .paddingfixcol5{
    padding-left: 10px !important;	
 }
    


 .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
     border: 1px solid #cff !important;
}