.contenttable561 {
    background: #fff;
    padding-bottom: 8px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}
.contenttable562 {
    background: #fff;
    padding-bottom: 8px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    height: 412px;
}
.container9 {
    width: 96% !important;
    margin: 0 auto;
}
/*.div_contant_right_1_title {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ccc;
}*/
.div_contant_right_1_2_56_end{
	 width: 100%;
    height: auto;
}
.div_contant_right_1_2_1_56 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px solid #ccc !important;
    background: #fff;
}
.div_contant_right_1_2_1_56_top {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px solid #ccc !important;
    border-left: 2px solid #ccc !important;
    border-right: 2px solid #ccc !important;
    background: #fff;
}
.div_contant_right_1_561 {
    width: 100%;
    height: auto;
   
  /*  padding: 3%;*/
}
.div_contant_right_1_2_1 {
    margin-left: auto;
    margin-right: auto;
    /* width: 94%; */
    text-align: left;
    padding-bottom: 10px;
    /* padding-top: 30px; */
}
.table_right_1_3 {
    width: 100%;
}
.td_right_1_3_4_56_3 {
    border: 1px solid #e6e6e6 !important; 
    text-align: center;
    height: 80px;
    vertical-align: bottom !important;
    padding-bottom: 5px !important;
    padding-top: 15px !important;
    width: 100px;
}
.label_input_text_1 {
    text-align: left;
    float: left;
}


.input_text {
    outline: none;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #3498db !important;
}
.input_text2 {
    width: 100% !important;
    margin-top: 10px;
}

.div_contant_right_1_3 {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.div_contant_right_1_2_1_56_2 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
    padding-bottom: 30px;
    padding-top: 30px;
    background: #fff;
}
.div_contant_right_1_2_1_56_2 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
    padding-bottom: 30px;
    padding-top: 30px;
}
.width94fix56{
    width: 94%;
    margin: 0 auto;
}
.width94fix{
	width: 94% !important;
    margin: 0 auto;
  /*  padding-left: 30px;*/
}
.titleheadertable56{
	height: 50px;
	
}
.titleheadertable56 >th{
	text-align: center;
	background-color: #3498db;
    color: #fff;
    font-family: arial;
    vertical-align: middle !important;

}
.table56 tr td{
	text-align: center;
}
.with94px56{
	width: 94%;
	margin: 0 auto;
}
.table56_content_left,.table56_content_right{
	float: left;
	width: 46%;
}
.table56_content_right{
	margin-left:3%;
}

.table56_content_left{
	border-right: 2px solid #ccc;
	height: 408px;
	padding-right: 3%;
}
.tabletop{
	margin-top:30px;
}
.text_center_backbule{
	text-align: center;
	background-color: #3498db;
	color: #fff;
}
.text_center{
	text-align: center;
}
.margintable56right{
	margin-right:40px;
}
.title_name_table_sub{
	margin-top:30px;
}
.fontsizetide{
	font-size: 26px !important;   
}
.borderless td, .borderless th {
    border: none !important;
}
.marginright56{
    margin-right: 20px;
}
.textverticalalign{
    vertical-align: middle !important;
}
.input3_text{
  padding-left: 26px;	
}
.input_text4
{
    padding-left: 44px;
}
.width102px{
    width: 102px;
}
.width324px{
        width: 370px;
}
.width10px{
    width: 100px;
}

body{
	BACKGROUND: #f2f2f2;
}

