.containerover85{
	width: 100% !important;
    padding-top: 22px;
    margin-bottom: 50px;
    background: #fff;
    border-bottom: 2px solid #ccc;
}

.contenttable82{
	background: #fff;
}
.table_09{
	width: 	20%;
	text-align:center;
}
.tableback{
	background: #fff !important;
}
.title_09{
	padding-bottom: 20px;
	vertical-align: middle;
}
.title_header_85_1{
	width: 96%;
	/*padding-bottom: 4px !important;*/
		
}
.title_header_85_2{
	width: 96%;
	padding-bottom: 12px !important;
}
.title_header{
	width: 96%;
	padding-bottom: 28px !important;
		
}
.container9{
	width: 96% !important;
	margin: 0 auto;
	
}
#insert_button a {
    font-size: 12px !important;
    text-decoration: none;
    padding-right: 10px;
}
.span_foot_9{
	padding-right: 100px !important;
	}
.span_head_4_1_2{
  font-size: 12px;
}
.tableback >thead tr th{
	font-size: 12px;
}
.tableback >tbody tr >td.table_09{
	vertical-align: middle;
}
.span_foot_fix {
    margin-top: -24px !important;
}
#form_9{
	background: #f2f2f2;
}
.headertitlecnter{
	background: #3498db;
    color: #fff;
    height: 40px;
    vertical-align: middle !important;
    text-align: center;
    padding-top: 10px;
}
.texcenterbule82{
   background: #fff;
   font-weight:10px;
   text-align: center; 	 	
}
.col357,.texcenterbule >th{
  text-align: center;
}
.widthtextcenter82{
	text-align: center;
    vertical-align: middle !important;
    width: 126px;

    	
}
.col1-82{
	width:200px;
	text-align: center;
}
.backcolor{
	background: #edf5fa;

}
.backgroudmegre80{
	background: none !important;
}
.width126px{
	width: 126px;
}
.col4-80{
	width: 188px;
	text-align: right;
}
.col5-80{
	width: 150px;
}
.widthtextcenter2{
	text-align: left;
    vertical-align: middle;
    width: 126px;
}
.title_bottom_80{
	width: 96%;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}
.tablefix80{
	margin-bottom: 20px;
	width: 100%;
}
.btn_input_2 {
    border: 1px solid #cccccc;
    width: 16%;	
    height: 32px;
    padding: 5px;
    border-radius: 8px;
    background-color: #3498db;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    outline: none;
 }
 .input_text_85 {
    width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    border: 1px solid #3498db !important;
    border-radius: 5px;
}
.table85{
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px !important;
    text-align: center;
    padding: 6px !important;
}
.table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px !important;    
}
.containerover85_1{
	border-bottom: 2px solid #ccc;
    width: 100% !important;
    padding-top: 22px; 
   /* padding-bottom: 30px;*/
    background: #fff;
}
.width96pxheader85{
	width: 96%;
	margin: 0 auto;
}
.textsmall85{
	    margin-left: 30px;
}
.table85 >tbody>tr>td{
	width: 188px;
	vertical-align: middle !important;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 0 !important;
}
